{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Lootlister | eBay Amazon Arbitrage Scout App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <!-- <link rel="stylesheet" href="https://www.uptowncss.com/css/uptown.css"> -->
    <link rel="stylesheet" href="{% static 'css/uptown.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">



    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '308236003362850');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=308236003362850&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64058068-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-64058068-2');
    </script>

</head>
<style>
    .nav-link {
        padding: 0 1em !important;
    }
    .flag-icon {
        font-size: 1em !important;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo-light.png' %}" height="30" alt="Lootlister">
            <!-- Lootlister -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard/">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>
                <li class="nav-item dropdown active position-static">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-globe-americas"></i> {{user.get_country_display}}
                        </a>
                        <div class="dropdown-menu w-100" aria-labelledby="selectCountty">
                            {% for country in user.countries %}
                            <div style="margin: 1em;">
                                <span class="flag-icon flag-icon-{{country.0|lower}}"></span><a style="display: inline;" class="dropdown-item" href="/dashboard/country/{{country.0}}/">{{country.1}}</a>
                            </div>
                            {% endfor %}
                        </div>
                </li>                
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="modal" data-target="#login-register" onclick="hideSignupForm(this)">Sign
                        In</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="modal" data-target="#login-register" onclick="hideLoginForm(this)">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% include "login-register.html" %}
    {% include "video-popup.html" %}
    {% block content %} {% endblock %}
    <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
</body>

</html>