<style type="text/css">
	/* .modal-dialog  {
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		} */

	.login-page {
		margin: auto;
	}


	.form {
		position: relative;
		z-index: 1;
		background: #FFFFFF;
		margin: 0 auto;
		padding: 30px;
		text-align: center;
		display: inline-block;
		text-align: center;
		width: 290px;
	}

	.form input {
		font-family: "Roboto", sans-serif;
		outline: 0;
		background: #f2f2f2;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 15px;
	}

	.form button {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background: #01a2a6;
		width: 100%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 15px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	}

	.form button:hover,
	.form button:active,
	.form button:focus {
		background: #01a2a6;
	}

	.form .message {
		margin: 15px 0 0;
		color: #b3b3b3;
		font-size: 14px;
	}

	.form .message a {
		color: #01a2a6;
		text-decoration: none;
	}

	.form .register-form {
		display: none;
	}

	.modal-body.container {
		position: relative;
		z-index: 1;
		max-width: 300px;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	.close {
		color: black;
		opacity: 1;
		font-size: 20px;
		width: 100%;
		text-align: right;
		display: unset;
		margin: -1rem !important;
	}

	.modal-header {
		border-bottom: unset;
	}

	.modal-content {
		border-radius: unset;
	}
</style>

<div class="modal fade" tabindex="-1" id="login-register" role="dialog" aria-labelledby="LoginRegister">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header ml-auto">
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
				<span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
				<!-- </button> -->
			</div>
			<div class="modal-body container">
				<h5 class="formHeading"></h5>
				<div class="login-page">
					<div class="form">
						<form class="register-form" action="/register/" method="POST">
							{% csrf_token %}
							<input type="text" name="name" placeholder="Full Name" required />
							<input type="email" name="email" placeholder="Email" required />
							<input type="password" name="password" placeholder="Password" required />
							<button>Register</button>
							<p class="message">Already registered? <a href="#">Login</a></p>
						</form>
						<form class="login-form" action="/login/" method="POST">
							{% csrf_token %}
							<input type="email" name="email" placeholder="Email" required />
							<input type="password" name="password" placeholder="Password" required />
							<button>Login</button>
							<p class="message">Not registered? <a href="#">Create an account</a></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>